@import 'colors';

#header {
    background-color: $gray;
    height: 20vh;

    .name {
        font-family: 'Biryani', sans-serif;
        font-weight: 200;
        letter-spacing: 0.3em;
        color: $beige;
    }
}
