@import 'colors';

html {
    body {
        height: 100%;
        width: 100%;
        background-color: #f0f0f0;
    }
}

.full-height {
    height: 100%;
}

.content-height {
    height: 400px;
}

.no-shrink {
    flex-shrink: 0;
}

.color-beige {
    color: $beige;
}

.cursor-pointer {
    cursor: pointer;
}
