@import 'colors';

#landing {

    width: 100%;
    .landing-left {
        background-color: $dark-blue;
    }

    .landing-right {
        background-color: $maroon;
    }

    .landing-split {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 400px 0 0px 100px;
        border-color: $maroon transparent transparent $dark-blue;
    }

    .landing-midsection {
        min-width: 300px;
    	height: 400px;
        background: $maroon;
    }

    .enter-button {
        font-family: 'Biryani', sans-serif;
        font-weight: 200;
        height: 100px;
        width: 109px;


        span {
            letter-spacing: 0.2em;
        }
    }

}
